.app {
  background: url('../img/retard.gif');
  color: white;
  position: relative;
  width: 100%;

  h1, a, .button {
    position: absolute;
  }

  h1 {
    font-size: 100px;
    color: white;

    &:hover {
      transition: all 500ms ease;
      animation: pulse 500ms;
    }
  }
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(1);}
}
